<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPGO</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <script defer src="{% static 'all.js' %}"></script>
    <!-- Custom styling plus plugins -->
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css"/>
    {% block extralinks %}{% endblock %}
</head>
<body class="login_register_body">
<div class="container">
    <div class="row marl justify-content-center login_row">
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="login_block">
                <div class="login_form_block">
                    <div class="welcome">You have succesfully logged in :)</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
