<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPGO</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <script defer src="{% static 'all.js' %}"></script>
    <!-- Custom styling plus plugins -->
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css"/>
    {% block extralinks %}{% endblock %}
</head>
<body class="login_register_body">
<div class="container">
    <div class="row marl justify-content-center login_row">
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="login_block">
                <div class="login_form_block">
                    <div class="welcome">SPGO</div>
                    <form method="POST" action="">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Usuario"
                                   name="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Contraseña" name="password">
                        </div>
                        {% if error %}
                            <p class="error">{{ message }}</p>
                        {% endif %}
                        <button type="submit" class="btn btn-danger">Entrar</button>
                        {% csrf_token %}
                        <input type="hidden" value="{{ next }}" name="next">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
